/* tela de login */

body {
    margin: 0;
    padding: 0;
    background: url(../img/galaxyfundo.jpg);
    font-family: sans-serif;
    background-size: 100% 100%;
    background-position: no-repeat;
    background-attachment: fixed;
}

.text {
    font-family: sans-serif;
}

.loginbox {
    width: 320px;
    height: 420px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 20px;
    box-shadow: 10px 10px 100px #4B088A;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

@font-face {
    font-family: 'BurbankBigCondensed-Black';
    src: url("fonts/BurbankBigCondensed-Black.eot");
    src: url('fonts/BurbankBigCondensed-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/BurbankBigCondensed-Black.woff') format('woff'),
        url('fonts/BurbankBigCondensed-Black.ttf') format('truetype'),
        url('fonts/BurbankBigCondensed-Black.svg#Calibri') format('svg'),
        url('fonts/BurbankBigCondensed-Black.otf')format('opentype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 50px;
    font-family: "BurbankBigCondensed-Black"
}

.loginbox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 25px;
    font-family: "BurbankBigCondensed-Black";
}

.loginbox input {
    width: 100%;
    margin-bottom: 20px;
    font-family: "BurbankBigCondensed-Black";
}

.loginbox input[type="text"],
input[type="password"] {
    border: none;
    border-bottom: 1px soli white;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
}

.loginbox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #7401DF;
    color: white;
    font-size: 30px;
    border-radius: 20px;
}

.loginbox input[type="submit"]:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

.loginbox a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.loginbox a:hover {
    color: #ffc107;
}
