/* tela de cadastro */
.A tr td{
	padding: 10px;
}
.A tr:nth-child(2n){
	background-color: blue;
}
.A tr:hover{
	background-color: yellow;
}
.A tr:first-child{
	background-color: black;
	color: white;
}
input{
	margin-top:3px; 
	padding:10px;
	padding-left: 20px;
	border-color: #CCC;
	border-radius: 2px;
	border-width: 1px;
	font-family: "Arial";
}
input:focus{
	outline-color: red;
	box-shadow: 0 0 10px gray;
}
#button{
	height: 20px;
}
button{
	background-color: #088A68;
	height:40px;
	width: 100px;
	border-width: 0px;
	border-radius: 2px;
	color: #FFFFFF;
}
button:active{
	background-color: #04B486
}
.erro{
    border-color: red;
}
.erro::placeholder{
    color: red;
}
