@font-face {
    font-family: 'BurbankBigCondensed-Black';
    src: url("fonts/BurbankBigCondensed-Black.eot");
    src: url('fonts/BurbankBigCondensed-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/BurbankBigCondensed-Black.woff') format('woff'),
        url('fonts/BurbankBigCondensed-Black.ttf') format('truetype'),
        url('fonts/BurbankBigCondensed-Black.svg#Calibri') format('svg'),
        url('fonts/BurbankBigCondensed-Black.otf')format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "BurbankBigCondensed-Black" !important;
    background: url(../img/galaxyfundo.jpg);
    color: white;
}
input{
    font-family: "BurbankBigCondensed-Black";
    width: 50%;
    height: 25px;
    border-radius: 3px;
    margin-bottom: 5px;
    border: none;
    color: black;
    font-size: 20px;
    background: rgba(255, 255, 255, 0.50);
    padding-left: 15px;
}
.box{
    position: center;
}

#texto{
    font-family: "BurbankBigCondensed-Black";
    width: 50%;
    height: 200px;
    border-radius: 3px;
    margin-bottom: 5px;
    border: none;
    color: black;
    font-size: 20px;
    background: rgba(255, 255, 255, 0.50);
    padding-left: 15px;
}